@model PickEm.Models.TeamModels.TeamDetail

@{
    ViewBag.Title = "Details";
}

<style>
    body {
        background-color: #808080;
    }
</style>

<div>
    <h4 class="td">Team Detail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TeamId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeamId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TeamName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeamName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TeamLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeamLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TeamConference)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeamConference)
        </dd>

    </dl>
</div>

<p>
    <a class="btn btn-light" value="Back To List" onclick=location.href=@Html.ActionLink("Back to List", "Index")
</p>
