@model PickEm.Models.PlayerDetail

@{
    ViewBag.Title = "Details";
}


<style>
    body {
        background-color: #808080;
    }
</style>
<div>
    <h4 class="pd">Player Detail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PlayerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedUtc)
        </dd>

    </dl>
</div>

<p>
    <a class="btn btn-light" value="Back To List" onclick=location.href @Html.ActionLink("Edit", "Edit", new { id = Model.PlayerId })
</p>
<p> 
   <a class="btn btn-light" value="Back To List" onclick=location.href =@Html.ActionLink("Back to List", "Index")

</p>
